

<div class="container mx-auto">
    <app-form class="my-5 flex justify-center" (searchFilm)="getFilms($event)"></app-form>
    <div class="grid-cols-3 grid grid-flow-row-dense mx-auto gap-3">
        <div class="flex flex-col border  items-center p-3 "  *ngFor="let film of searchResult; let idx = index">
            <img class="w-36 my-2" src="{{film.Poster}}" alt="">
            <p class="text-lg ">{{film.Title}}</p>
            <p class="text-sm  text-slate-500">{{film.Year}}</p>
        </div>
    </div>
</div>