<div class="w-[500px] backdrop-blur-sm bg-white/30 centerModal flex p-4">
  <div class="basis-1/3 shrink-0">
    <img
      class="rounded-md"
      src="https://m.media-amazon.com/images/M/MV5BYmMzYWY4MDUtOWQ4OC00YTY5LWExN2YtYzEyZWM5ZjUyZGQ5XkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_SX300.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="flex flex-col">
    <p class="font-semibold">Something the Lord Made</p>
    <p>Year: 2004</p>
    <p>Runtime: 110 min</p>
    <p>Genre: Drama</p>
    <p>Director: Alik Meir</p>
    <p>
      A dramatization of the relationship between heart surgery pioneers Alfred
      Blalock and Vivien Thomas.
    </p>
    <div class="flex">
      <span class="py-1 px-2 border text-xs rounded-md">8.1/10</span>
    </div>
  </div>
</div>
